<div class="btn-group mx-5 mt-3" role="group" aria-label="Basic example">
  
</div>
<div class="d-flex justify-content-center container m-1 mx-auto">
    <div class="card p-3 bg-white border rounded " appBorder><i class="fa fa-apple"></i>
        <div class="about-product text-center mt-2"><img src="https://i.imgur.com/3VTaSeb.png" width="300">
            <div>
                <h4>{{products.name}}</h4>
            </div>
        </div>
       
        <div class="d-flex justify-content-between total font-weight-bold mt-4">
            <span>ID</span><span>{{products.id}}</span>
        </div>
    </div>
</div>
